.container {
    user-select: none;
    width: 100%;
    height: 48vw;
    font-size: 1em;
    padding-top: 1.5vw;
    overflow: hidden;
    position: relative;
}

.scene {
    width: 100vw;
    height: 100%;
    position: relative;
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    /* transition: transform .5s cubic-bezier(0.18, 0.89, 0.25, 1.75); */
    transition: transform .5s ease-in-out;
}

.carousel_cell {
    position: absolute;
    left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel_cell > img {
    border: .25vw solid teal;
    height: auto;
    width: 80vw;
    border-radius: 2.5vw;
    transform: scale(.975);
    transition: .25s;

}

.carousel_cell:hover > img {
    transform: scale(1);
}

.btn {
    position: absolute;
    width: 10vw; height: 100%;
    bottom: 0;
    z-index: 5;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
    font-size: 2vw;
    font-weight: 100; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover { color: teal; }

.btn:active {
    color: #006969;
}

.btn > svg {
    transform: scaleY(2);
    filter: 
        drop-shadow( .075em .075em .075em #14161a)
        drop-shadow( -.075em -.075em .075em #3c424e);
}
.btn:active > svg { transform: scaleY(1.8); }