* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  background-color: #191B24;
  background-color: rgb(26, 29, 40);
}

.App {
  min-height: 100vh;
  width: 100%;
}

/*                    HEADER & NAVBAR                   */
.App-header {
  font-size: 1.75vh;
  padding: .25em .875em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo { width: 5em }

.header-logo > img{ max-width: 100%; height: auto; }

.header-navbar {
  width: 80%;
  padding: 0 1em;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: left;
  gap: .5em;
  align-items: center;
  margin-bottom: .25em;
}

.header-navbar a {
  color: white;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: .25em 1em;
  text-decoration: none;
  transition: .25s;
}

.header-navbar .active a { color: cyan }

.header-navbar a:hover { color: teal }

.header-user {
  font-size: smaller;
  font-weight: 700;
  width: 6em;
  display: flex;
  align-items: center;
  gap: .5em;
}

.header-user > img{ max-width: 35%; height: auto; }

/*                  SWIMLANES for HOME Page                   */
.wrap-swimlanes {
  padding-top: 1vw;
  gap: 1vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/*                    DETAILS Page                     */
.details{
  padding: 4em;
  width: 100%;
  display: flex;
  gap: 4em;
}

.details-poster {
  width: 30%;
  border-radius: .5vw;
}

.details-poster img {
  width: 100%;
  height: auto;
}

.details-description {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.year {
  font-size: 1.5em;
}

.title {
  font-size: 2em;
  font-weight: 700;
}

.btn-watch {
  cursor: pointer;
  padding: .5em;
  width: 25%;
  border-radius: .25vw;
  border: .25vw solid teal;
  text-align: center;
  font-weight: 700;
  transition: 0.125s;
}

.btn-watch:hover { background-color: teal }

.btn-watch:active { transform: scale(.95) }